body {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

main {
    padding: 60px 40px;
    text-align: center;
}

main h1 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #333;
}

main p {
    font-size: 24px;
    font-weight: 400;
    color: #666;
}

.padding-2 {
    padding: 60px;
  }

.padding-1 {
    padding: 80px;
  }

.header1 {
    background-color: rgba(255, 255, 255, 0.904); 
    color: white; 
    padding: 13px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    position: fixed; 
    top: 25px;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);    
    z-index: 1000; 
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}

.codecause {
    color: rgba(106, 0, 255, 0.99);
    font-size: 80px;
}